
.anchor-nav a:hover, .anchor-nav a:focus {
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20id%3D%22Untitled-Seite%25201%22%20viewBox%3D%220%200%2010%207%22%20style%3D%22background-color%3A%23ffffff%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2210px%22%20height%3D%227px%22%3E%20%3Cg%20id%3D%22Ebene%25201%22%3E%20%20%3Cpath%20d%3D%22M%205.6001%206.6864%20L%209.8445%200.9865%20L%209.915%200.8928%20C%209.9686%200.8016%2010%200.6927%2010%200.5769%20C%2010%200.2586%209.7677%200.0012%209.4811%200.0012%20L%209.4811%200%20L%208.2901%200%20L%207.9%200%20L%207.8107%200%20L%202.1927%200%20L%202.1032%200%20L%201.3707%200%20L%200.5192%200%20L%200.5192%200.0012%20C%200.2323%200.0012%200%200.2586%200%200.5769%20C%200%200.6974%200.0338%200.8098%200.0916%200.9022%20L%200.1497%200.9806%20L%204.3988%206.6864%20C%204.5414%206.8783%204.7576%207%204.9993%207%20C%205.2414%207%205.457%206.8783%205.6001%206.6864%20Z%22%20fill%3D%22%23002448%22%2F%3E%20%3C%2Fg%3E%3C%2Fsvg%3E");
}

.anchor-nav a {
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20id%3D%22Untitled-Seite%25201%22%20viewBox%3D%220%200%2010%207%22%20style%3D%22background-color%3A%23ffffff%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2210px%22%20height%3D%227px%22%3E%20%3Cg%20id%3D%22Ebene%25201%22%3E%20%20%3Cpath%20d%3D%22M%205.6001%206.6864%20L%209.8445%200.9865%20L%209.915%200.8928%20C%209.9686%200.8016%2010%200.6927%2010%200.5769%20C%2010%200.2586%209.7677%200.0012%209.4811%200.0012%20L%209.4811%200%20L%208.2901%200%20L%207.9%200%20L%207.8107%200%20L%202.1927%200%20L%202.1032%200%20L%201.3707%200%20L%200.5192%200%20L%200.5192%200.0012%20C%200.2323%200.0012%200%200.2586%200%200.5769%20C%200%200.6974%200.0338%200.8098%200.0916%200.9022%20L%200.1497%200.9806%20L%204.3988%206.6864%20C%204.5414%206.8783%204.7576%207%204.9993%207%20C%205.2414%207%205.457%206.8783%205.6001%206.6864%20Z%22%20fill%3D%22%230066a5%22%2F%3E%20%3C%2Fg%3E%3C%2Fsvg%3E");
}

a.top:hover, a.top:focus {
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20id%3D%22Untitled-Seite%25201%22%20viewBox%3D%220%200%2016%2016%22%20style%3D%22background-color%3A%23ffffff%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%3E%20%3Cg%20id%3D%22Ebene%25201%22%3E%20%20%3Cpath%20d%3D%22M%2014.9906%200%20L%201.0094%200%20C%200.4522%200%200%200.4521%200%201.0093%20L%200%2014.9907%20C%200%2015.5483%200.4522%2016%201.0094%2016%20L%2014.9906%2016%20C%2015.5492%2016%2016%2015.5483%2016%2014.9907%20L%2016%201.0093%20C%2016%200.4521%2015.5492%200%2014.9906%200%20ZM%2014.6253%2014.1667%20C%2014.6253%2014.1743%2014.6253%2014.1821%2014.6239%2014.1899%20C%2014.6127%2014.4209%2014.4307%2014.6064%2014.2011%2014.624%20C%2014.1899%2014.6245%2014.1773%2014.6255%2014.1661%2014.6255%20C%2014.1535%2014.6255%2014.1423%2014.6245%2014.1311%2014.624%20L%201.8703%2014.624%20C%201.8577%2014.6245%201.8465%2014.6255%201.8339%2014.6255%20C%201.8227%2014.6255%201.8115%2014.6245%201.7989%2014.624%20C%201.5707%2014.6064%201.3873%2014.4209%201.3761%2014.1899%20C%201.3761%2014.1821%201.3761%2014.1743%201.3761%2014.1667%20C%201.3761%2014.1592%201.3761%2014.1509%201.3761%2014.1431%20L%201.3761%204.1528%20C%201.3761%204.1445%201.3761%204.1367%201.3761%204.1284%20C%201.3761%204.1206%201.3761%204.1128%201.3761%204.105%20C%201.3887%203.8623%201.5889%203.6699%201.8339%203.6699%20L%2014.1661%203.6699%20C%2014.4111%203.6699%2014.6113%203.8623%2014.6239%204.105%20C%2014.6253%204.1128%2014.6253%204.1206%2014.6253%204.1284%20C%2014.6253%204.1367%2014.6253%204.1445%2014.6239%204.1528%20L%2014.6239%2014.1431%20C%2014.6253%2014.1509%2014.6253%2014.1592%2014.6253%2014.1667%20Z%22%20fill%3D%22%23002448%22%2F%3E%20%20%3Cpath%20d%3D%22M%2011.2346%2010.0591%20L%208.4011%206.627%20C%208.3059%206.5117%208.1617%206.438%208.0007%206.438%20C%207.8397%206.438%207.6955%206.5117%207.6003%206.627%20L%204.771%2010.0552%20L%204.7234%2010.1121%20C%204.687%2010.1665%204.666%2010.2324%204.666%2010.3025%20C%204.666%2010.4937%204.8214%2010.6482%205.0132%2010.6482%20L%205.0132%2010.6489%20L%205.807%2010.6489%20L%206.0674%2010.6489%20L%206.1262%2010.6489%20L%209.8724%2010.6489%20L%209.9312%2010.6489%20L%2010.4198%2010.6489%20L%2010.9882%2010.6489%20L%2010.9882%2010.6482%20C%2011.1786%2010.6482%2011.334%2010.4937%2011.334%2010.3025%20C%2011.334%2010.2297%2011.3116%2010.1616%2011.2724%2010.1064%20L%2011.2346%2010.0591%20Z%22%20fill%3D%22%23002448%22%2F%3E%20%3C%2Fg%3E%3C%2Fsvg%3E");
}

a.top {
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20id%3D%22Untitled-Seite%25201%22%20viewBox%3D%220%200%2016%2016%22%20style%3D%22background-color%3A%23ffffff%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%3E%20%3Cg%20id%3D%22Ebene%25201%22%3E%20%20%3Cpath%20d%3D%22M%2014.9906%200%20L%201.0094%200%20C%200.4522%200%200%200.4521%200%201.0093%20L%200%2014.9907%20C%200%2015.5483%200.4522%2016%201.0094%2016%20L%2014.9906%2016%20C%2015.5492%2016%2016%2015.5483%2016%2014.9907%20L%2016%201.0093%20C%2016%200.4521%2015.5492%200%2014.9906%200%20ZM%2014.6253%2014.1667%20C%2014.6253%2014.1743%2014.6253%2014.1821%2014.6239%2014.1899%20C%2014.6127%2014.4209%2014.4307%2014.6064%2014.2011%2014.624%20C%2014.1899%2014.6245%2014.1773%2014.6255%2014.1661%2014.6255%20C%2014.1535%2014.6255%2014.1423%2014.6245%2014.1311%2014.624%20L%201.8703%2014.624%20C%201.8577%2014.6245%201.8465%2014.6255%201.8339%2014.6255%20C%201.8227%2014.6255%201.8115%2014.6245%201.7989%2014.624%20C%201.5707%2014.6064%201.3873%2014.4209%201.3761%2014.1899%20C%201.3761%2014.1821%201.3761%2014.1743%201.3761%2014.1667%20C%201.3761%2014.1592%201.3761%2014.1509%201.3761%2014.1431%20L%201.3761%204.1528%20C%201.3761%204.1445%201.3761%204.1367%201.3761%204.1284%20C%201.3761%204.1206%201.3761%204.1128%201.3761%204.105%20C%201.3887%203.8623%201.5889%203.6699%201.8339%203.6699%20L%2014.1661%203.6699%20C%2014.4111%203.6699%2014.6113%203.8623%2014.6239%204.105%20C%2014.6253%204.1128%2014.6253%204.1206%2014.6253%204.1284%20C%2014.6253%204.1367%2014.6253%204.1445%2014.6239%204.1528%20L%2014.6239%2014.1431%20C%2014.6253%2014.1509%2014.6253%2014.1592%2014.6253%2014.1667%20Z%22%20fill%3D%22%230066a5%22%2F%3E%20%20%3Cpath%20d%3D%22M%2011.2346%2010.0591%20L%208.4011%206.627%20C%208.3059%206.5117%208.1617%206.438%208.0007%206.438%20C%207.8397%206.438%207.6955%206.5117%207.6003%206.627%20L%204.771%2010.0552%20L%204.7234%2010.1121%20C%204.687%2010.1665%204.666%2010.2324%204.666%2010.3025%20C%204.666%2010.4937%204.8214%2010.6482%205.0132%2010.6482%20L%205.0132%2010.6489%20L%205.807%2010.6489%20L%206.0674%2010.6489%20L%206.1262%2010.6489%20L%209.8724%2010.6489%20L%209.9312%2010.6489%20L%2010.4198%2010.6489%20L%2010.9882%2010.6489%20L%2010.9882%2010.6482%20C%2011.1786%2010.6482%2011.334%2010.4937%2011.334%2010.3025%20C%2011.334%2010.2297%2011.3116%2010.1616%2011.2724%2010.1064%20L%2011.2346%2010.0591%20Z%22%20fill%3D%22%230066a5%22%2F%3E%20%3C%2Fg%3E%3C%2Fsvg%3E");
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

q, blockquote {
	quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}

a img {
	border: none;
}

.lt-ie9 a img {
	float: left;
}

@media only screen and (max-width: 568px) {

	a.media {
		background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20id%3D%22Untitled-Seite%25201%22%20viewBox%3D%220%200%2016%2016%22%20style%3D%22background-color%3A%23ffffff%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xml%3Aspace%3D%22preserve%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%3E%20%3Cg%20id%3D%22Ebene%25201%22%3E%20%20%3Cpath%20d%3D%22M%2014.9906%200%20L%201.0094%200%20C%200.4522%200%200%200.4521%200%201.0093%20L%200%2014.9907%20C%200%2015.5483%200.4522%2016%201.0094%2016%20L%2014.9906%2016%20C%2015.5492%2016%2016%2015.5483%2016%2014.9907%20L%2016%201.0093%20C%2016%200.4521%2015.5492%200%2014.9906%200%20ZM%2014.6253%2014.1667%20C%2014.6253%2014.1743%2014.6253%2014.1821%2014.6239%2014.1899%20C%2014.6127%2014.4209%2014.4307%2014.6064%2014.2011%2014.624%20C%2014.1899%2014.6245%2014.1773%2014.6255%2014.1661%2014.6255%20C%2014.1535%2014.6255%2014.1423%2014.6245%2014.1311%2014.624%20L%201.8703%2014.624%20C%201.8577%2014.6245%201.8465%2014.6255%201.8339%2014.6255%20C%201.8227%2014.6255%201.8115%2014.6245%201.7989%2014.624%20C%201.5707%2014.6064%201.3873%2014.4209%201.3761%2014.1899%20C%201.3761%2014.1821%201.3761%2014.1743%201.3761%2014.1667%20C%201.3761%2014.1592%201.3761%2014.1509%201.3761%2014.1431%20L%201.3761%204.1528%20C%201.3761%204.1445%201.3761%204.1367%201.3761%204.1284%20C%201.3761%204.1206%201.3761%204.1128%201.3761%204.105%20C%201.3887%203.8623%201.5889%203.6699%201.8339%203.6699%20L%2014.1661%203.6699%20C%2014.4111%203.6699%2014.6113%203.8623%2014.6239%204.105%20C%2014.6253%204.1128%2014.6253%204.1206%2014.6253%204.1284%20C%2014.6253%204.1367%2014.6253%204.1445%2014.6239%204.1528%20L%2014.6239%2014.1431%20C%2014.6253%2014.1509%2014.6253%2014.1592%2014.6253%2014.1667%20Z%22%20fill%3D%22%230066a5%22%2F%3E%20%20%3Cpath%20d%3D%22M%2011.2346%2010.0591%20L%208.4011%206.627%20C%208.3059%206.5117%208.1617%206.438%208.0007%206.438%20C%207.8397%206.438%207.6955%206.5117%207.6003%206.627%20L%204.771%2010.0552%20L%204.7234%2010.1121%20C%204.687%2010.1665%204.666%2010.2324%204.666%2010.3025%20C%204.666%2010.4937%204.8214%2010.6482%205.0132%2010.6482%20L%205.0132%2010.6489%20L%205.807%2010.6489%20L%206.0674%2010.6489%20L%206.1262%2010.6489%20L%209.8724%2010.6489%20L%209.9312%2010.6489%20L%2010.4198%2010.6489%20L%2010.9882%2010.6489%20L%2010.9882%2010.6482%20C%2011.1786%2010.6482%2011.334%2010.4937%2011.334%2010.3025%20C%2011.334%2010.2297%2011.3116%2010.1616%2011.2724%2010.1064%20L%2011.2346%2010.0591%20Z%22%20fill%3D%22%230066a5%22%2F%3E%20%3C%2Fg%3E%3C%2Fsvg%3E");
		background-repeat: no-repeat;
	}

	a.media {
		background-repeat: no-repeat;
	}

}

@media print {
}

@media (width: 100px) {
	.w-100 {
		width: 100px;
	}
}

@media (resolution: 2dppx) {
	.r-2dppx {
		width: 45px;
	}
}

@media (min-resolution: 1dppx) {
	.r-1dppx-min {
		width: 45px;
	}
}

@media (max-resolution: 1dppx) {
	.r-1dppx-max {
		width: 45px;
	}
}

@media (resolution: 1.5dppx) {
	.r-15dppx {
		width: 45px;
	}
}

@media (resolution: 10.786dppx) {
	.r-10dppx {
		width: 45px;
	}
}

@media (resolution: .5dppx) {
	.r-0-5dppx {
		width: 45px;
	}
}

@media (-webkit-min-device-pixel-ratio: 1.3),
(-o-min-device-pixel-ratio: 2.6/2),
(min--moz-device-pixel-ratio: 1.3),
(min-device-pixel-ratio: 1.3),
(resolution: 1.3dppx) {
	.dpr {
		width: 45px;
	}
}
